html, * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'lora';
}

:root {
  --primary: #CECCCC;
  --secondary: #6A6C71;
  --background: #CECCCC;
  --text: #010101;
} 

body{
  background-color: var(--secondary);
  min-height: 100vh;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  gap: .3rem;
}

.header{
  background-color: var(--primary);
  margin-bottom: 2rem;
}

img{
  width: 100%;
  height: auto;
  border-radius: 1rem;
  transition: all 1s;
}

img:hover {
  filter: saturate(30%);
  transform: scale(1.3);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--secondary);
  gap: 1.5rem;
  padding: 4rem;
  justify-items: center;
}

.container{
  text-align: center;
}

.linksContainer {
  padding: .2rem .4rem;
  margin: 0 1rem;
  border: .1rem solid rgba(0, 0, 0, 0.479);
  border-radius: .5rem;
  box-shadow: 4px 5px 15px -2px rgba(0,0,0,0.68);
  transition: all .5s;

}

.navTitle {
  text-decoration: none;
  font-size: 1.2rem;

  color: var(--text);
  transition: all .7s;
}

.navTitle:visited {
  color: #400a7e;
}

.navTitle:hover {
  color: var(--background);
}

.linksContainer:hover {
  background-color: var(--secondary);
  border-color: var(--primary);
}

.headerTitle {
  font-size: 2.3rem;
}