html, * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #3E1929;
  --secondary: #845A6D;
  --text: #6E75A8;
} 



header {
  display: flex;
  padding: 20px;
  margin-bottom: 50px;
  background-color: #3E1929;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  color: var(--text);
}

body {
  background-color: var(--secondary);
}

nav a {
  color: var(--text);
  text-decoration: none;
  padding: 5px;
  margin: 0 5px;
  display: inline-block;
  transition: all 1.3s;
}

nav a:hover {
  color: var(--secondary);
  text-decoration: none;
  padding: 5px;
  margin: 0 5px;
  display: inline-block;
  transition: color 1.3s;
  transform: scale(1.2);
}

section {
  display: flex;
  padding: 20px;
}

section h2 {
  text-align: right;
  margin-right: 12px;
  width: 20%;
}

section div {
  padding: 0 12px;
  border-left: 3px double #022F40;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

section div p {
  padding: 10px;
  border: 2px solid var(--primary);
  border-radius: 20px;
}

article {
  width: 50%;
  background-color: black;
  border: 3px solid var(--primary);
  border-radius: 5px;
  color: white;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}

article img {
  width: 100%;
  height: auto;
}

article:nth-child(1) {
  width: 100%;
  height: 450px;
  justify-content: center;
}

article:nth-child(3) {
  justify-content: center;
  align-items: center;
}

article img:nth-child(3) {
  transform: scale(2);
}

footer {
  background-color: var(--primary);
  padding: 15px;
  position: staic;
  text-align: center;
  bottom: 0;
  width: 100%;
  color: var(--text);
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .nav {
    width:100%;
  }
  .nav a {
    width:100%;
    float:none;
  }
}